<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" description="Adds support for dynamic content to Episerver CMS" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="EPiServer.DynamicContent" />
  </assemblies>
  <route url="{moduleArea}/{path}">
    <defaults>
      <add key="moduleArea" value="EPiServer.DynamicContent" />
      <add key="path" value="" />
    </defaults>
  </route>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" />
    </moduleDependencies>
  </clientModule>
</module>
